:root {
  --color-primary: #018741;
  --color-secondary: #4a7f7a;
  --color-tertiary: #004cb7;
  --color-accent: #b74900;
  --color-header-border: rgb(150.2144 193.9856 190.0064);
  --color-main-border: rgb(137.3216 186.4784 182.0096);
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f6f1;
}

body {
  color: #222;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 0.96em;
  font-weight: 300;
  line-height: 1.3rem;
  overflow-x: hidden;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

h1 {
  color: var(--color-primary);
  font-size: 2em;
  font-weight: 300;
  line-height: 1.45rem;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.resume-studio-editor-shell[data-toolbar-visible='false'] .resume-studio-editor-toolbar {
  display: none !important;
}

.resume-studio-editor-shell[data-toolbar-visible='true'] .resume-studio-editor-toolbar {
  display: flex !important;
}
