.PageRoot {
  background-color: #fff;
  backdrop-filter: none;
}

@media screen and (max-width: 47.999rem) {
  .PageRoot {
    background-color: #fff;
    backdrop-filter: none;
    box-shadow: none;
    margin-block: 0;
    max-width: none;
    width: 100%;
  }
}
