@media print {
  @page {
    size: 210mm 297mm;
    margin: 15mm 10mm;
  }

  html,
  body {
    background-color: transparent;
  }

  .PageRoot {
    backdrop-filter: none;
    background-color: transparent;
  }

  .hidden-for-media-print {
    display: none !important;
  }

  .visible-for-media-print {
    display: initial !important;
  }

  .PrintBreakBeforePage {
    break-before: page;
    page-break-before: always;
  }

  .PrintAvoidBreakInside {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }

  [data-sticky-position] {
    background-color: transparent !important;
    box-shadow: none !important;
    bottom: auto !important;
    position: static !important;
    top: auto !important;
    z-index: auto !important;
  }
}
